In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv('../Spotify_Playlist/1960_1970_Spotify.csv', index_col=0)

In [15]:
df.shape

(263, 25)

In [16]:
df.dtypes

artist_1         object
artist_id_1      object
genre_1          object
album            object
label            object
popularity      float64
total_tracks      int64
album_id         object
duration          int64
date             object
date_album       object
imagen           object
url_song         object
artist_2         object
genre_2          object
artist_id_2      object
artist_3         object
genre_3          object
artist_id_3      object
artist_4         object
artist_id_4      object
genre_4          object
artist_5         object
artist_id_5      object
genre_5          object
dtype: object

In [17]:
df.isnull().sum()

artist_1         0
artist_id_1      0
genre_1          1
album            0
label            0
popularity       0
total_tracks     0
album_id         0
duration         0
date             0
date_album       0
imagen           0
url_song         0
artist_2         0
genre_2         10
artist_id_2      0
artist_3         0
genre_3          0
artist_id_3      0
artist_4         0
artist_id_4      0
genre_4          0
artist_5         0
artist_id_5      0
genre_5          0
dtype: int64

In [18]:
df.duplicated().sum()

0

In [19]:
df.describe().round(2)

       popularity  total_tracks    duration
count      263.00        263.00      263.00
mean        47.17         12.22   292724.22
std         19.36          6.45   215394.66
min         12.00          4.00    30733.00
25%         35.00          9.00   190259.50
50%         47.00         10.00   246973.00
75%         65.00         13.00   318400.00
max         76.00         28.00  1561133.00

In [23]:
df.describe(include=['O']).transpose()

,count,unique,top,freq
artist_1,263,17,Pink Floyd,59
artist_id_1,263,17,0k17h0D3J5VfsdmQ1iZtE9,59
genre_1,262,16,"album rock, art rock, classic rock, progressiv...",59
album,263,29,The Wall (Remastered),26
label,263,16,Pink Floyd Records,59
album_id,263,29,6WaIQHxEHtZL0RZ62AuY0g,26
date,263,38,2023-03-13T15:33:14Z,26
date_album,263,25,1976,26
imagen,263,29,https://i.scdn.co/image/ab67616d0000b273f34e88...,26
url_song,263,262,https://open.spotify.com/track/4if2YzjQiHL6uTs...,2
artist_2,263,2,none,253
genre_2,253,1,none,253
artist_id_2,263,2,none,253
artist_3,263,1,none,263
genre_3,263,1,none,263
artist_id_3,263,1,none,263
artist_4,263,1,none,263
artist_id_4,263,1,none,263
genre_4,263,1,none,263
artist_5,263,1,none,263
artist_id_5,263,1,none,263
genre_5,263,1,none,263

In [32]:
columns = ['artist_1', 'artist_2', 'artist_3','artist_4','artist_5']

unique_values_list = []

for column in columns:
    unique_values = df[column].unique()
    unique_values_list.append(unique_values)

unique_values_all = np.concatenate(unique_values_list)
unique_values_all = np.unique(unique_values_all)

In [33]:
unique_values_all

array(['Angelo Branduardi', 'Dire Straits', 'Edmonton Symphony Orchestra',
       'Edoardo Bennato', 'Electric Light Orchestra', 'Franco Battiato',
       'Genesis', 'James Taylor', 'Mike Oldfield', 'New Trolls',
       'Orchestra Rehearsal', 'Pink Floyd', 'Premiata Forneria Marconi',
       'Procol Harum', 'Queen', 'Status Quo', 'The Alan Parsons Project',
       'Yes', 'none'], dtype=object)