In [2]:
import json
import pandas as pd
import re
import os

In [6]:
df = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_230523.json")
df_1 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_290523.json")
df_2 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_070623.json")
df_3 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_120623.json")
df_4 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_190623.json")

In [12]:
# Merge the DataFrames based on the common columns (Artist and Title)
df_merged = df.merge(df_1, on=['Artist', 'Title'])
df_merged = df_merged.merge(df_2, on=['Artist', 'Title'])
df_merged = df_merged.merge(df_3, on=['Artist', 'Title'])
df_merged = df_merged.merge(df_4, on=['Artist', 'Title'])

In [14]:
df_merged.head(1)

,Artist,Title,Min,Median,Higher,Min_290523,Median_290523,Higher_290523,Min_070623,Median_070623,Higher_070623,Min_120623,Median_120623,Higher_120623,Min_190623,Median_190623,Higher_190623
0,a-ha,East Of The Sun West Of The Moon,5.05,11.62,26.28,5.05,11.62,26.28,5.11,11.75,26.57,5.05,11.62,26.28,4.95,11.38,25.72

In [15]:
df_merged.to_json("../../../Discogs_Exports/VannaBe_Collection_Price/Merge_190623.json")