In [24]:
import json
import pandas as pd
import re
import os

In [25]:
df = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230523.json")
df_1 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230529.json")
df_2 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230607.json")
df_3 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230612.json")
df_4 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230619.json")
df_5 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230626.json")
df_6 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230703.json")
df_7 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230711.json")
df_8 = pd.read_json("../../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230717.json")

In [26]:
# Merge the DataFrames based on the common columns (Artist,Title and Collection)
df_merged = df.merge(df_1, on=['Artist', 'Title','Collection'])
df_merged = df_merged.merge(df_2, on=['Artist', 'Title','Collection'])
df_merged = df_merged.merge(df_3, on=['Artist', 'Title','Collection'])
df_merged = df_merged.merge(df_4, on=['Artist', 'Title','Collection'])
df_merged = df_merged.merge(df_5, on=['Artist', 'Title','Collection'])
df_merged = df_merged.merge(df_6, on=['Artist', 'Title','Collection'])
df_merged = df_merged.merge(df_7, on=['Artist', 'Title','Collection'])
df_merged = df_merged.merge(df_8, on=['Artist', 'Title','Collection'])

In [27]:
df_merged.columns

Index(['Artist', 'Title', 'Min', 'Median', 'Higher', 'Collection',
       'Min_230529', 'Median_230529', 'Higher_230529', 'Min_230607',
       'Median_230607', 'Higher_230607', 'Min_230612', 'Median_230612',
       'Higher_230612', 'Min_230619', 'Median_230619', 'Higher_230619',
       'Min_230626', 'Median_230626', 'Higher_230626', 'Min_230703',
       'Median_230703', 'Higher_230703', 'Min_230711', 'Median_230711',
       'Higher_230711', 'Min_230717', 'Median_230717', 'Higher_230717'],
      dtype='object')

In [28]:
df_merged.to_csv("../../../Discogs_Exports/VannaBe_Collection_Price/Merged_Tableau/Merge_230717.csv", index=False)

In [29]:
df= pd.read_csv("../../../Discogs_Exports/VannaBe_Collection_Price/Merged_Tableau/Merge_230717.csv")

In [30]:
df.columns

Index(['Artist', 'Title', 'Min', 'Median', 'Higher', 'Collection',
       'Min_230529', 'Median_230529', 'Higher_230529', 'Min_230607',
       'Median_230607', 'Higher_230607', 'Min_230612', 'Median_230612',
       'Higher_230612', 'Min_230619', 'Median_230619', 'Higher_230619',
       'Min_230626', 'Median_230626', 'Higher_230626', 'Min_230703',
       'Median_230703', 'Higher_230703', 'Min_230711', 'Median_230711',
       'Higher_230711', 'Min_230717', 'Median_230717', 'Higher_230717'],
      dtype='object')