# ⚠️ <span style="color: #FF6961">Warning</span>

Follow the below instructions, and beware of the danger signs.

In [1]:
import pandas as pd
import re

In [49]:
pd.options.display.max_columns = None

In [3]:
# We should just copy the table in the following page https://www.discogs.com/user/VannaBe/collection?sort=max&sort_order=desc
# It is important to include all the columns and all the rows

price = pd.read_clipboard(sep="\t")

In [4]:
price

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added,Folder,Rating,Album_Type,Style,Genre,Recorded,Original Released,Artist_City,Artist_Country,Artist_Region_State,Purchased,Year_Purchased,Shop,Shop_City,Shop_Region_State,Shop_Country,Years active,Group,Group_Members,Instrument(s),Instrument(s)_2,Instrument(s)_3,Instrument(s)_4,Cover Art,Notes,Record Cleaning Date,Record Cleaning Kit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Battiato* - L'Era Del Cinghiale Bianco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"LP, Album",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EMI 3C 064-18285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1979 Italy,€28.38,€57.30,€176.13,about 1 month ago,Father Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5915,Cover - Bruce Meek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5916,Edit Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5917,Edit Record Cleaning Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5918,Edit Record Cleaning Kit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [5]:
price.to_json('../../Discogs_Exports/VannaBe_Collection_Price/price_190623.json', orient='columns', indent=None)

In [15]:
df_price_190623 = pd.read_json('../../Discogs_Exports/VannaBe_Collection_Price/price_190623.json')

In [16]:
df = df_price_190623.iloc[:, :6]

In [28]:
search_phrase = "Dimo Safari"
result = df[df["Unnamed: 0"].str.contains(search_phrase, na=False)]

In [29]:
result

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
175,Photography By [Package] – Dimo Safari,None,None,None,None,None

In [30]:
rows_160_to_181 = df.iloc[160:181]
rows_160_to_181

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
160,"Backing Vocals – Durga McBroom, Margret Taylor...",None,None,None,None,None
161,"Bass, Vocals – Guy Pratt",None,None,None,None,None
162,"Guitar, Vocals – Tim Renwick",None,None,None,None,None
163,"Keyboards, Vocals – Jon Carin",None,None,None,None,None
164,Percussion – Gary Wallis,None,None,None,None,None
165,"Saxophone, Guitar – Scott Page",None,None,None,None,None
166,Engineer [Assisted By] – Robert Hrycyna,None,None,None,None,None
167,Engineer [Recording] – Dave Hewitt,None,None,None,None,None
168,Mastered By [Audio] – Andy Jackson,None,None,None,None,None
169,Mastered By [Vinyl] – Stuart Hawkes,None,None,None,None,None
170,Mixed By [Audio Transfers] – Damon Iddins,None,None,None,None,None
171,"Recorded By – Remote Recording Services, Inc.",None,None,None,None,None
172,Remix – Andy Jackson,None,None,None,None,None
173,Design [Front Cover Design Inspired By] – Aubr...,None,None,None,None,None
174,"Design, Artwork – Blade Design Ltd., Steve Knee",None,None,None,None,None
175,Photography By [Package] – Dimo Safari,None,None,None,None,None
176,"Photography By [Sleeve] – Rupert Truman, Storm...",None,None,None,None,None
177,Die cut box cover with hype sticker:,None,None,None,None,None
178,LIVE 3-LP\nPINK FLOYD\nDelicate Sound of Thund...,None,None,None,None,None
179,Children of Islington Green School,None,None,None,None,None
180,"Backing Vocals – Bruce Johnston, Islington Gre...",None,None,None,None,None

In [5]:
# Find the rows that contain the Euro symbol
euro_rows = df[df.apply(lambda row: row.astype(str).str.contains('€').any(), axis=1)].index

In [50]:
euro_rows

Index([   4,   42,   90,  131,  178,  190,  232,  279,  316,  356,
       ...
       5120, 5177, 5221, 5257, 5290, 5333, 5381, 5413, 5445, 5484],
      dtype='int64', length=133)

In [55]:
cell_value = df.at[178, 'Unnamed: 0']
print(cell_value)

LIVE 3-LP
PINK FLOYD
Delicate Sound of Thunder
Remixed from the original master tapes
Heavyweight 180g Vinyl
24-page Booklet
23 songs
Approx. 2 1/2 hours
Features 9 songs
not included on the
1988 2-LP.

Edit Record Cleaning Date
Edit Record Cleaning Kit

Pink Floyd - The Wall
2xLP, Album
Columbia, Columbia PC2 36183, 36183
1979 Canada	€11.27	€20.07	€81.85	about 1 month ago	Father Collection
Good Plus (G+)

Very Good (VG)

Tribute Album

Prog Rock

Rock

Britannia Row
London, England, UK
Super Bear
Nice, France
Miraval (Correns)
30th Street
New York, New York, USA
Producers Workshop
Los Angeles
Cherokee
Hollywood)

1979

London

UK

England

In-Store

Unknown

Unknown

Unknown

Unknown

Italy

1965–1994
2005
2007
2013–2014
2022

Yes

Roger Waters
David Gilmour
Nick Mason
Richard Wright

Roger Waters – vocals, bass guitar, synthesizer, acoustic guitar, electric guitar
David Gilmour – vocals, electric,and acoustic guitars, bass guitar,ARP Quadra synthesizers

Nick Mason – drums and percussion
Richard Wright – piano, Hammond organ, Prophet-5, ARP Quadra, Minimoog synthesizers, Fender Rhodes, Wurlitzer electric pianos, clavinet.

Bob Ezrin - piano, Hammond organ and harmonium, Prophet-5
Jeff Porcaro - drums
Lee Ritenour – rhythm guitar, acoustic guitar
Fred Mandel – Hammond organ
Bobbye Hall – congas and bongos
Frank Marocco – concertina
Larry Williams – clarinet

New York Orchestra & Opera
Harry Waters – child's voice on Goodbye Blue Sky"

In [56]:
# Create a list of rows to keep, including the three rows before each Euro row
rows_to_keep = []
for row in euro_rows:
    rows_to_keep.extend(range(row - 3, row + 1))

In [57]:
# Keep only the selected rows
df = df.loc[rows_to_keep]

In [58]:
df = df.reset_index(drop=True)

In [59]:
# Define the row indices to drop
rows_to_drop = []
for i in range(1, len(df), 4):
    rows_to_drop.extend([i, i+1])

# Drop the rows from the DataFrame
df = df.drop(rows_to_drop)

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [60]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

In [61]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

# Delete rows with even indices
df = df.drop(df.index[::2])

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [62]:
df.head()

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
0,Battiato* - L'Era Del Cinghiale Bianco,€28.38,€57.30,€176.13,about 1 month ago,Father Collection
1,Premiata Forneria Marconi - Per Un Amico,€14.68,€49.32,€146.77,about 1 month ago,Father Collection
2,New Trolls - UT,€12.98,€49.46,€123.64,about 1 month ago,Father Collection
3,Pink Floyd - Delicate Sound Of Thunder,€44.51,€55.84,€88.03,about 1 month ago,Original Collection
4,Photography By [Package] – Dimo Safari,None,None,None,None,None

In [63]:
df

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
0,Battiato* - L'Era Del Cinghiale Bianco,€28.38,€57.30,€176.13,about 1 month ago,Father Collection
1,Premiata Forneria Marconi - Per Un Amico,€14.68,€49.32,€146.77,about 1 month ago,Father Collection
2,New Trolls - UT,€12.98,€49.46,€123.64,about 1 month ago,Father Collection
3,Pink Floyd - Delicate Sound Of Thunder,€44.51,€55.84,€88.03,about 1 month ago,Original Collection
4,Photography By [Package] – Dimo Safari,None,None,None,None,None
...,...,...,...,...,...,...
128,Culture Club - From Luxury To Heartache,€0.99,€2.30,€5.69,about 1 month ago,2022 Second Hand
129,Fernandez Pray Und Sein Orchester - Midnight I...,€1.88,€4.69,€5.62,about 1 month ago,45
130,Riccardo Cocciante - I Momenti Dell'Amore,€0.98,€1.96,€3.91,26 days ago,Original Collection Italy
131,Mungo Jerry - In The Summertime,€0.49,€1.71,€3.91,about 1 month ago,45
132,Santo & Johnny - Il Padrino Famosi Temi Da Films,€2.74,€3.02,€3.29,26 days ago,Original Collection Italy

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [72]:
# Inserts a new column named 'Artist'at index 0 and 'Title' at index 1 in the DataFrame df. 
# The initial values in these columns are set as empty strings ('').
df.insert(0, 'Artist', '')
df.insert(1, 'Title', '')

In [73]:
df.columns

Index(['Artist', 'Title', 'Unnamed: 0', 'Artist, Title, Label, Year, Format',
       'Min', 'Median', 'Max ', 'Added'],
      dtype='object')

In [74]:
# Split the values in the 'Unnamed: 0' column using the delimiter ' - '
# The str.split() function returns a DataFrame with two columns ('Artist' and 'Title')
# containing the split values.
# By assigning this DataFrame to df[['Artist', 'Title']],
# the values are placed in the respective columns.
# The parameter n=1 indicates that the splitting should be done only once,
# resulting in a maximum of two parts.
# The expand=True parameter ensures that the result is returned as a DataFrame with two columns.
df[['Artist', 'Title']] = df['Unnamed: 0'].str.split(' - ', n=1, expand=True)

# Drops the 'Artist, Title, Label, Year, Format' column from the DataFrame df along the specified axis
# (axis=1 indicates the column axis).
# The inplace=True parameter ensures that the DataFrame is modified in place,
# without creating a new copy.
df.drop('Unnamed: 0', axis=1, inplace=True)

In [75]:
df.head()

,Artist,Title,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
0,Battiato*,L'Era Del Cinghiale Bianco,€28.38,€57.30,€176.13,about 1 month ago,Father Collection
1,Premiata Forneria Marconi,Per Un Amico,€14.68,€49.32,€146.77,about 1 month ago,Father Collection
2,New Trolls,UT,€12.98,€49.46,€123.64,about 1 month ago,Father Collection
3,Pink Floyd,Delicate Sound Of Thunder,€44.51,€55.84,€88.03,about 1 month ago,Original Collection
4,Photography By [Package] – Dimo Safari,None,None,None,None,None,None

In [76]:
filtered_data = df[df['Artist'] == 'Pink Floyd']
print(filtered_data)

        Artist                            Title
3   Pink Floyd        Delicate Sound Of Thunder  \
6   Pink Floyd  Soundtrack From The Film "More"
11  Pink Floyd        The Dark Side Of The Moon
17  Pink Floyd                          Animals
63  Pink Floyd                  Masters Of Rock

   Artist, Title, Label, Year, Format     Min  Median               Max
3                              €44.51  €55.84  €88.03  about 1 month ago  \
6                               €7.58  €18.96  €75.83  about 1 month ago
11                              €9.30  €24.45  €52.84  about 1 month ago
17                              €6.78  €20.33  €43.56  about 1 month ago
63                              €4.88  €10.74  €19.57  about 1 month ago

                  Added
3   Original Collection
6     Father Collection
11    Father Collection
17    Father Collection
63    Father Collection

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Artist                              133 non-null    object
 1   Title                               132 non-null    object
 2   Artist, Title, Label, Year, Format  132 non-null    object
 3   Min                                 132 non-null    object
 4   Median                              132 non-null    object
dtypes: object(5)
memory usage: 5.3+ KB

In [24]:
df["Artist, Title, Label, Year, Format"] = df["Artist, Title, Label, Year, Format"].str.replace("€", "").astype(float).round(2)

In [27]:
df["Min"] = df["Min"].str.replace("€", "").astype(float).round(2)

In [25]:
df["Median"] = df["Median"].str.replace("€", "").astype(float).round(2)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Artist                              133 non-null    object
 1   Title                               132 non-null    object
 2   Artist, Title, Label, Year, Format  132 non-null    float64
 3   Min                                 132 non-null    float64
 4   Median                              132 non-null    float64
dtypes: float64(3), object(2)
memory usage: 5.3+ KB

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [29]:
df = df.rename(columns={'Artist, Title, Label, Year, Format':"Min_190623", 'Min': 'Median_190623', 'Median': 'Higher_190623'})

In [64]:
df.loc["Pink Floyd"]

KeyError: 'Pink Floyd'

In [31]:
df.to_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_190623.json", orient='columns', indent=None)