# ⚠️ <span style="color: #FF6961">Warning</span>

Follow the below instructions, and beware of the danger signs.

In [141]:
import pandas as pd
import re

In [2]:
pd.options.display.max_columns = None

# ⚠️ <span style="color: #FF6961">Warning</span>

Sort by Max

In [70]:
# We should just copy the table in the following page https://www.discogs.com/user/VannaBe/collection?sort=max&sort_order=desc
# It is important to include all the columns and all the rows

price = pd.read_clipboard(sep="\t")

In [71]:
price

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added,Folder,Rating,Album_Type,Style,Genre,Recorded,Original Released,Artist_City,Artist_Country,Artist_Region_State,Purchased,Year_Purchased,Shop,Shop_City,Shop_Region_State,Shop_Country,Years active,Group,Group_Members,Instrument(s),Instrument(s)_2,Instrument(s)_3,Instrument(s)_4,Cover Art,Notes,Record Cleaning Date,Record Cleaning Kit
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Battiato* - L'Era Del Cinghiale Bianco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"LP, Album",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EMI 3C 064-18285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1979 Italy,€21.76,€58.34,€178.04,3 months ago,Father Collection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5919,Cover - Bruce Meek,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5920,Edit Notes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5921,Edit Record Cleaning Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5922,Edit Record Cleaning Kit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [72]:
price.to_json('../../Discogs_Exports/VannaBe_Collection_Price/price_110723.json', orient='columns', indent=None)

In [73]:
df_price= pd.read_json('../../Discogs_Exports/VannaBe_Collection_Price/price_110723.json')

In [74]:
df = df_price.iloc[:, :6]

In [75]:
df

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
0,None,None,None,None,None,None
1,Battiato* - L'Era Del Cinghiale Bianco,None,None,None,None,None
2,"LP, Album",None,None,None,None,None
3,EMI 3C 064-18285,None,None,None,None,None
4,1979 Italy,€21.76,€58.34,€178.04,3 months ago,Father Collection
...,...,...,...,...,...,...
5918,None,None,None,None,None,None
5919,Cover - Bruce Meek,None,None,None,None,None
5920,Edit Notes,None,None,None,None,None
5921,Edit Record Cleaning Date,None,None,None,None,None
5922,Edit Record Cleaning Kit,None,None,None,None,None

In [77]:
# Find the rows that contain the Euro symbol
euro_rows = df[df.apply(lambda row: row.astype(str).str.contains('€').any(), axis=1)].index

In [78]:
euro_rows

Index([   4,   42,   90,  131,  178,  190,  232,  279,  319,  356,
       ...
       5124, 5181, 5225, 5261, 5294, 5337, 5385, 5417, 5449, 5488],
      dtype='int64', length=133)

In [80]:
# Create a list of rows to keep, including the three rows before each Euro row
rows_to_keep = []
for row in euro_rows:
    rows_to_keep.extend(range(row - 3, row + 1))

In [81]:
# Keep only the selected rows
df = df.loc[rows_to_keep]

In [82]:
df = df.reset_index(drop=True)

In [83]:
# Define the row indices to drop
rows_to_drop = []
for i in range(1, len(df), 4):
    rows_to_drop.extend([i, i+1])

# Drop the rows from the DataFrame
df = df.drop(rows_to_drop)

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [33]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

In [84]:
# Iterate over the rows in the DataFrame
for i in range(1, len(df)):
    # Check if the row index is odd
    if i % 2 == 1:
        # Copy the value from the previous row's first column and paste it into the current row's first column
        df.iloc[i, 0] = df.iloc[i-1, 0]

# Delete rows with even indices
df = df.drop(df.index[::2])

# Reset the index of the DataFrame
df = df.reset_index(drop=True)

In [95]:
pd.set_option('display.max_rows', None)

In [96]:
df

,Unnamed: 0,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
0,Battiato* - L'Era Del Cinghiale Bianco,€21.76,€58.34,€178.04,3 months ago,Father Collection
1,Premiata Forneria Marconi - Per Un Amico,€14.84,€49.56,€148.37,3 months ago,Father Collection
2,New Trolls - UT,€12.98,€49.46,€123.64,3 months ago,Father Collection
3,Pink Floyd - Delicate Sound Of Thunder,€44.51,€55.84,€88.03,2 months ago,Original Collection
4,Premiata Forneria Marconi - L'Isola Di Niente,€10.00,€30.00,€80.00,3 months ago,Father Collection
5,"Pink Floyd - Soundtrack From The Film ""More""",€7.58,€18.96,€75.83,3 months ago,Father Collection
6,Emmylou Harris And The Nash Ramblers - Ramble ...,€8.31,€10.93,€68.25,3 months ago,Original Collection
7,Pino Daniele - Terra Mia,€19.78,€37.77,€64.29,3 months ago,Father Collection
8,Bruce Springsteen - Tunnel Of Love,€2.43,€10.82,€60.67,3 months ago,Original Collection
9,New Trolls - Concerto Grosso N° 2,€9.89,€18.79,€59.35,3 months ago,Father Collection
10,Pink Floyd - The Dark Side Of The Moon,€9.40,€24.72,€53.41,3 months ago,Father Collection
11,Franco Cerri - Nuages,€18.57,€25.49,€51.07,about 1 month ago,Original Collection Italy
12,Andrew Lloyd Webber - Cats,€2.76,€5.60,€50.00,2 months ago,2022 Second Hand
13,Mike Oldfield - Tubular Bells II,€6.01,€13.85,€49.45,2 months ago,Original Collection
14,Premiata Forneria Marconi - Photos Of Ghosts,€4.64,€7.20,€46.42,3 months ago,2023 Second Hand
15,Pink Floyd - Animals,€6.92,€19.73,€44.51,3 months ago,Father Collection
16,Queen - The Game,€9.68,€17.42,€44.23,3 months ago,Original Collection
17,Bruce Springsteen - Western Stars,€4.13,€17.85,€41.49,3 months ago,Original Collection
18,Vasco Rossi - Albachiara,€7.00,€15.50,€40.00,about 1 month ago,Original Collection Italy
19,Mike Oldfield - Amarok,€7.91,€16.46,€39.57,3 months ago,2022 Second Hand
20,The Doors - The Doors (Music From The Original...,€4.94,€16.20,€39.56,about 1 month ago,Original Collection Italy
21,Michael Jackson - Bad,€0.93,€15.12,€39.14,about 1 month ago,Original Collection Italy
22,Gianna Nannini - Maschi E Altri,€2.50,€9.49,€37.50,about 1 month ago,Original Collection Italy
23,Dire Straits & Mark Knopfler - Private Investi...,€19.02,€27.59,€37.30,2 months ago,Original Collection
24,The London Symphony Orchestra And Chambre Choi...,€0.98,€4.85,€36.40,about 1 month ago,Original Collection Italy
25,Mina (3) - Cassiopea (Italian Songbook),€10.01,€26.19,€36.40,3 months ago,Original Collection
26,The Doors - Weird Scenes Inside The Gold Mine,€17.06,€25.32,€36.37,2 months ago,Original Collection Rita
27,Jimi Hendrix - Blues,€17.29,€23.65,€36.00,3 months ago,Original Collection
28,Queen - The Miracle,€9.84,€18.99,€34.62,3 months ago,Original Collection
29,Marvin Gaye & Tammi Terrell - United,€12.83,€23.11,€34.57,2 months ago,Original Collection Rita
30,Pat Metheny Group - Still Life (Talking),€6.85,€12.18,€32.29,2 months ago,2022 Second Hand
31,Charlie Parker - Jam Session,€13.09,€16.74,€31.84,2 months ago,Original Collection
32,Premiata Forneria Marconi - Come Ti Va In Riva...,€5.00,€14.99,€30.00,2 months ago,2022 Second Hand
33,The Doors - 13,€10.04,€20.92,€29.90,2 months ago,Original Collection Rita
34,Edoardo Bennato - Burattino Senza Fili,€1.48,€14.34,€29.67,3 months ago,Father Collection
35,Madonna - The First Album,€3.96,€9.89,€29.66,about 1 month ago,Original Collection Italy
36,Cariocas - Batida,€6.37,€9.78,€29.35,about 1 month ago,Original Collection Italy
37,Claudio Baglioni - Solo,€2.00,€9.50,€28.98,about 1 month ago,Original Collection Italy
38,The Beatles - Hey Jude,€20.00,€28.00,€28.00,2 months ago,Father Collection
39,Queen - News Of The World,€3.46,€19.90,€27.70,3 months ago,Original Collection
40,Premiata Forneria Marconi - Live In U.S.A.,€11.62,€17.43,€27.30,3 months ago,Father Collection
41,Nina Simone - In Concert,€12.03,€15.63,€26.85,2 months ago,Original Collection
42,Queen - A Night At The Opera,€6.50,€15.18,€26.05,3 months ago,Original Collection
43,a-ha - East Of The Sun West Of The Moon,€5.00,€13.00,€26.00,about 1 month ago,Original Collection Italy
44,Various - Festivalbar '87,€3.00,€7.59,€25.56,about 1 month ago,Original Collection Italy
45,Various - Vision Quest (Original Motion Pictur...,€1.91,€5.00,€25.00,about 1 month ago,Original Collection Italy
46,Roxy Music - Avalon,€3.96,€9.18,€24.73,3 months ago,2023 Second Hand
47,Billie Holiday - Lady In Satin,€12.56,€18.19,€24.00,3 months ago,Original Collection
48,Duran Duran - Notorious,€1.96,€6.75,€23.48,about 1 month ago,Original Collection Italy
49,Thelonious Monk & Art Blakey - Blue Monk,€9.38,€13.51,€23.48,2 months ago,Original Collection
50,Madonna - Like A Prayer,€3.40,€5.76,€22.98,about 1 month ago,Original Collection Italy
51,Joe Sample - Rainbow Seeker,€3.68,€8.12,€22.98,2 months ago,2023 Second Hand
52,Queen - Queen,€20.68,€21.42,€22.17,3 months ago,Original Collection
53,John Barry - Dances With Wolves (Original Moti...,€4.02,€12.80,€21.82,about 1 month ago,Original Collection Italy
54,Edoardo Bennato - Non Farti Cadere Le Braccia,€2.94,€7.09,€21.53,about 1 month ago,Original Collection Italy
55,Graciela Guevara - Graciela Guevara,€21.10,€21.10,€21.10,about 1 month ago,Original Collection Italy
56,Santana - Caravanserai,€3.90,€9.78,€20.30,about 1 month ago,2023 Second Hand
57,a-ha - Scoundrel Days,€3.46,€4.94,€20.00,about 1 month ago,Original Collection Italy
58,Dire Straits - Communiqué,€1.00,€8.50,€20.00,2 months ago,2023 Second Hand
59,Various - Sanremo 86,€1.98,€4.95,€19.78,about 1 month ago,Original Collection Italy
60,Madonna - Like A Virgin,€3.95,€8.90,€19.78,about 1 month ago,Original Collection Italy
61,Supertramp - Crime Of The Century,€4.85,€7.66,€19.78,3 months ago,2023 Second Hand
62,Pink Floyd - Masters Of Rock,€4.88,€10.74,€19.57,3 months ago,Father Collection
63,New Trolls - Senza Orario Senza Bandiera,€4.89,€9.78,€19.56,3 months ago,Father Collection
64,The Police - Every Breath You Take (The Singles),€3.86,€9.68,€19.36,about 1 month ago,Original Collection Italy
65,The Shadows - 20 Golden Greats,€0.96,€4.29,€19.15,about 1 month ago,Original Collection Italy
66,The Dave Brubeck Quartet - Time Out,€12.73,€17.50,€19.11,2 months ago,Original Collection
67,Roxy Music - Flesh + Blood,€1.88,€4.75,€18.74,2 months ago,2022 Second Hand
68,Joe Sample - David T. Walker - Swing Street Cafe,€1.81,€4.90,€18.20,2 months ago,2021 Second Hand
69,Various - Pretty Woman (Soundtrack),€2.45,€7.83,€18.10,about 1 month ago,Original Collection Italy
70,The Gerry Mulligan Quartet* With Chet Baker - ...,€12.66,€17.47,€18.06,2 months ago,Original Collection
71,New Trolls - Aldebaran,€8.83,€17.58,€17.67,3 months ago,Father Collection
72,Various - Fame - Bande Originale du Film,€0.28,€3.91,€17.61,2 months ago,2022 Second Hand
73,Claudio Baglioni - La Vita È Adesso,€1.95,€5.16,€17.61,3 months ago,2022 Second Hand Rita
74,Electric Light Orchestra - Eldorado - A Sympho...,€5.69,€9.47,€16.11,2 months ago,2023 Second Hand
75,a-ha - Hunting High And Low,€1.05,€10.00,€15.00,about 1 month ago,Original Collection Italy
76,Rondo' Veneziano* - Arabesque,€3.26,€7.41,€14.84,about 1 month ago,Original Collection Italy
77,Genesis - Live,€2.31,€5.61,€14.84,about 1 month ago,2023 Second Hand
78,The Police - Ghost In The Machine,€2.87,€7.91,€14.84,2 months ago,2021 Second Hand
79,The Alan Parsons Project - Historias De Mister...,€2.97,€5.34,€14.84,2 months ago,2023 Second Hand
80,The Notting Hillbillies - Missing... Presumed ...,€1.98,€6.98,€14.84,3 months ago,2022 Second Hand
81,Yes - Relayer,€4.95,€8.85,€14.84,3 months ago,2023 Second Hand
82,a-ha - Stay On These Roads,€2.94,€6.85,€14.68,about 1 month ago,Original Collection Italy
83,Madonna - True Blue,€3.91,€6.11,€14.68,about 1 month ago,Original Collection Italy
84,Frank Zappa - Orchestral Favorites,€4.89,€11.74,€14.68,about 1 month ago,Original Collection Italy
85,Mike Oldfield - Tubular Bells,€2.94,€7.77,€14.68,3 months ago,2021 Second Hand
86,James Taylor (2) - James Taylor's Greatest Hits,€1.44,€3.42,€14.42,2 months ago,2023 Second Hand
87,"Fausto Papetti - 39a Raccolta - ""Sax' Idea""",€0.96,€7.65,€14.35,2 months ago,2021 Second Hand
88,The Alan Parsons Project - Pyramid,€1.00,€3.28,€13.81,3 months ago,2023 Second Hand
89,Mel Lewis - Live In Montreux,€6.42,€6.47,€12.95,3 months ago,2021 Second Hand
90,Mike Oldfield - Platinum,€3.51,€7.76,€12.66,3 months ago,2023 Second Hand
91,Santana - Caravanserai,€2.19,€5.76,€12.62,about 1 month ago,Original Collection Italy
92,Yes - Big Generator,€2.39,€7.18,€12.40,3 months ago,2023 Second Hand
93,Bonnie Raitt - Nick Of Time,€3.32,€4.74,€12.28,2 months ago,2022 Second Hand
94,Mike Oldfield - Five Miles Out,€0.99,€6.46,€11.99,3 months ago,2023 Second Hand
95,Luigi Tenco - Agli Amici Cantautori,€3.96,€6.92,€11.87,about 1 month ago,Original Collection Italy
96,Eurythmics - We Too Are One,€2.87,€4.90,€11.87,2 months ago,2022 Second Hand
97,The Alan Parsons Project - Ammonia Avenue,€1.15,€6.92,€11.87,2 months ago,2023 Second Hand
98,Fleetwood Mac - Mirage,€2.93,€5.82,€11.82,2 months ago,2022 Second Hand
99,Spandau Ballet - Parade,€1.86,€3.90,€11.74,2 months ago,2022 Second Hand
100,Angelo Branduardi - Highdown Fair,€2.94,€9.78,€11.74,3 months ago,2022 Second Hand
101,Various - I Supergruppi Vol.1,€1.86,€6.96,€11.50,3 months ago,Father Collection
102,Los Cachaos - Samba Rumba Y Cha Cha Cha,€10.55,€10.55,€10.55,about 1 month ago,Original Collection Italy
103,"Emerson, Lake & Palmer - In Concert",€1.85,€4.84,€10.50,3 months ago,2023 Second Hand
104,Rick Wakeman - 1984,€2.90,€4.84,€10.16,2 months ago,2023 Second Hand
105,Spandau Ballet - Journeys To Glory = Viajes A ...,€1.96,€4.39,€10.10,2 months ago,2022 Second Hand
106,Culture Club - Waking Up With The House On Fire,€1.81,€3.50,€10.00,2 months ago,2022 Second Hand
107,Yes - Going For The One,€2.80,€7.00,€10.00,3 months ago,2023 Second Hand
108,Mike Oldfield - Earth Moving,€2.50,€5.00,€10.00,3 months ago,2021 Second Hand
109,Procol Harum - Exotic Birds And Fruit,€2.35,€4.00,€9.95,2 months ago,2023 Second Hand
110,Rick Astley - Hold Me In Your Arms,€2.47,€3.96,€9.89,about 1 month ago,Original Collection Italy
111,Electric Light Orchestra - Discovery,€1.98,€5.44,€9.89,3 months ago,2023 Second Hand
112,Luca Barbarossa - Al Di Là Del Muro,€0.89,€1.98,€9.88,about 1 month ago,Original Collection Italy
113,The Shadows - 20 Golden Greats = 20 Grandes Ex...,€0.98,€4.89,€9.69,3 months ago,2021 Second Hand
114,Mike Oldfield - QE2,€1.40,€4.45,€9.68,2 months ago,2022 Second Hand
115,Spandau Ballet - True = Verdad,€5.75,€9.10,€9.58,3 months ago,2022 Second Hand
116,Santo & Johnny - Tenderly = Teneramente,€2.27,€4.26,€9.48,about 1 month ago,Original Collection Italy
117,Status Quo - Blue For You,€1.42,€4.45,€9.37,3 months ago,2022 Second Hand
118,Sarah Vaughan - Sarah Vaughan,€0.90,€2.94,€9.09,2 months ago,2022 Second Hand
119,Spandau Ballet - Through The Barricades,€1.48,€4.55,€8.80,3 months ago,2022 Second Hand
120,Status Quo - Rockin' All Over The World,€2.95,€4.79,€7.93,2 months ago,2022 Second Hand
121,Various - Natale Con I Tuoi...,€0.98,€3.90,€7.83,about 1 month ago,Original Collection Italy
122,The Crusaders With B. B. King* And The Royal P...,€0.97,€5.32,€7.74,2 months ago,2023 Second Hand
123,Status Quo - Just Supposin'...,€1.95,€3.91,€7.73,2 months ago,2022 Second Hand
124,Orchestra «Pro Arte» Di Monaco* / Kurt Redel -...,€5.42,€6.23,€7.04,3 months ago,Father Collection
125,Ella Fitzgerald With Orchestra* - The First La...,€6.35,€6.35,€6.35,2 months ago,45
126,Dire Straits - Making Movies,€4.95,€5.76,€5.84,about 1 month ago,2023 Second Hand
127,Culture Club - From Luxury To Heartache,€0.99,€2.30,€5.69,2 months ago,2022 Second Hand
128,Fernandez Pray Und Sein Orchester - Midnight I...,€1.88,€4.69,€5.62,2 months ago,45
129,Riccardo Cocciante - I Momenti Dell'Amore,€0.99,€1.98,€3.96,about 1 month ago,Original Collection Italy
130,Mungo Jerry - In The Summertime,€0.49,€1.71,€3.91,2 months ago,45
131,Santo & Johnny - Il Padrino Famosi Temi Da Films,€2.74,€3.02,€3.29,about 1 month ago,Original Collection Italy

In [97]:
df.isnull().sum()

Unnamed: 0                            0
Artist, Title, Label, Year, Format    0
Min                                   0
Median                                0
Max                                   0
Added                                 0
dtype: int64

In [98]:
null_rows = df[df.isnull().any(axis=1)]
null_rows

Empty DataFrame
Columns: [Unnamed: 0, Artist, Title, Label, Year, Format, Min, Median, Max , Added]
Index: []

In [88]:
df = df.drop(4)

In [89]:
df.reset_index(drop=True, inplace=True)

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [99]:
# Inserts a new column named 'Artist'at index 0 and 'Title' at index 1 in the DataFrame df. 
# The initial values in these columns are set as empty strings ('').
df.insert(0, 'Artist', '')
df.insert(1, 'Title', '')

In [107]:
# Split the values in the 'Unnamed: 0' column using the delimiter ' - '
# The str.split() function returns a DataFrame with two columns ('Artist' and 'Title')
# containing the split values.
# By assigning this DataFrame to df[['Artist', 'Title']],
# the values are placed in the respective columns.
# The parameter n=1 indicates that the splitting should be done only once,
# resulting in a maximum of two parts.
# The expand=True parameter ensures that the result is returned as a DataFrame with two columns.
df[['Artist', 'Title']] = df['Unnamed: 0'].str.split(' - ', n=1, expand=True)

# Drops the 'Artist, Title, Label, Year, Format' column from the DataFrame df along the specified axis
# (axis=1 indicates the column axis).
# The inplace=True parameter ensures that the DataFrame is modified in place,
# without creating a new copy.
df.drop('Unnamed: 0', axis=1, inplace=True)

In [108]:
df.head(1)

,Artist,Title,"Artist, Title, Label, Year, Format",Min,Median,Max,Added
0,Battiato*,L'Era Del Cinghiale Bianco,€21.76,€58.34,€178.04,3 months ago,Father Collection

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Artist                              132 non-null    object
 1   Title                               132 non-null    object
 2   Artist, Title, Label, Year, Format  132 non-null    object
 3   Min                                 132 non-null    object
 4   Median                              132 non-null    object
 5   Max                                 132 non-null    object
 6   Added                               132 non-null    object
dtypes: object(7)
memory usage: 7.3+ KB

In [112]:
df["Higher"] = df["Median"].str.replace("€", "").astype(float).round(2)

In [114]:
df["Min"] = df["Artist, Title, Label, Year, Format"].str.replace("€", "").astype(float).round(2)

In [115]:
df["Median"] = df["Median"].str.replace("€", "").astype(float).round(2)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 8 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Artist                              132 non-null    object
 1   Title                               132 non-null    object
 2   Artist, Title, Label, Year, Format  132 non-null    object
 3   Min                                 132 non-null    float64
 4   Median                              132 non-null    float64
 5   Max                                 132 non-null    object
 6   Added                               132 non-null    object
 7   Higher                              132 non-null    float64
dtypes: float64(3), object(5)
memory usage: 8.4+ KB

In [118]:
df = df.drop("Max ", axis=1)

In [120]:
df = df.drop("Artist, Title, Label, Year, Format", axis=1)

# ⚠️ <span style="color: #FF6961">Warning</span>

Change the name of the file with the today date.

In [122]:
df = df.rename(columns={'Min':"Min_230711", 'Median': 'Median_230711', 'Higher': 'Higher_230711'})

In [123]:
df.head(1)

,Artist,Title,Min_230711,Median_230711,Added,Higher_230711
0,Battiato*,L'Era Del Cinghiale Bianco,21.76,178.04,Father Collection,178.04

In [124]:
columns = df.columns.tolist()
columns

['Artist', 'Title', 'Min_230711', 'Median_230711', 'Added', 'Higher_230711']

In [125]:
# Identify the column you want to move
column_to_move = 'Higher_230711'

# Remove the column from the list
columns.remove(column_to_move)

# Insert the column at the desired position
new_position = 4  # Move before the last column
columns.insert(new_position, column_to_move)

# Reorder the columns in the DataFrame
df = df[columns]

In [126]:
df.head(1)

,Artist,Title,Min_230711,Median_230711,Higher_230711,Added
0,Battiato*,L'Era Del Cinghiale Bianco,21.76,178.04,178.04,Father Collection

In [127]:
#df = df.rename(columns={"Folder":"Collection"})

In [144]:
df = df.rename(columns={"Added":"Collection"})

In [128]:
df.head(1)

,Artist,Title,Min_230711,Median_230711,Higher_230711,Added
0,Battiato*,L'Era Del Cinghiale Bianco,21.76,178.04,178.04,Father Collection

In [138]:
df.loc[df['Title'] == 'The Wall']

,Artist,Title,Min_230711,Median_230711,Higher_230711,Added
132,Pink Floyd,The Wall,11.53,26.39,81.85,Father Collection

In [136]:
df.loc[len(df.index)] = ['Pink Floyd', 'The Wall', 11.53, 26.39, 81.85, 'Father Collection']

In [137]:
df.tail(1)

,Artist,Title,Min_230711,Median_230711,Higher_230711,Added
132,Pink Floyd,The Wall,11.53,26.39,81.85,Father Collection

In [146]:
df.to_json("../../Discogs_Exports/VannaBe_Collection_Price/Final_YYMMDD/Final_230711.json", orient='columns', indent=None)